body {
    background-color: black;
}
h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

img {
    width: 100%;
    border: 5px solid white;
}

.poster {
    font-family: 'Libre Baskerville', serif; 
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    text-align: center;
}


